.container {
    width: 400px;
    border: 1px solid grey; 
}

.pagination {
    display: flex;
}

.pagination li {
    margin: 5px;
    cursor: pointer;
}

.active {
    font-weight: bold;
    color: rgb(0, 128, 0);
}